.clients{
    margin: auto;
    align-items: center;
    padding: 60px 0;
    overflow: hidden;
    background-color: #fef8f5;
}
.icon{
    display: flex;
    justify-content: space-evenly;
}
.icon img{
    width: 116px;
    height: 60px;
}
.clients .section-title h2{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    color: #c2b7b1;
}
.clients .section-title p{
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #4e4039;
}